div {
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	font-family: sans-serif;
	margin: 10px;
}

div.row {
	border: 0px;
	margin: 0px;
}

div.col {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid rebeccapurple;
	margin: 1px;
}